<h1>Fish Shoaling and Schooling Simulation</h1>
<p>Jim Pickrell</p>

<p>This is a  programming project in progress.  It is not final and doubtless has errors.</p>

<h2>3D graphical simulation</h2>
<ul>
<li><a href = "project3d_animated/index.html">Simulation</a>  
<p>Chrome or Firefox on a desktop will work best.  It may or may not 
work on your phone.</p>

<p>There are twenty fish swimming in a school.  Reload the 
page to restart the simulation.  Each time the behavior will be 
different.</p></li>

<li><a href="text_only/index2d.html">2D numerical simulation</a></li>
<li><a href="text_only/index3d.html">3D numerical simulation</a></li>
</ul>

<h2>Reference Video</h2>
<p>As part of this project I have taken video of similar fish 
and their schooling and shoaling behaviors on the Palancar reef.</p>
<p>The videos were taken in April 2021 at Palancar Reef at sites 
called "Cerebros", "Los Arcos", "Sabalos" and "Mama Vina" (wreck).<p>
<p>Video Links:</p>

<ul>
<li><a href="https://youtu.be/nzSSPJdnnbU">Video 4 (Jens Gronemeyer)</a></li>
<li><a href="https://www.youtube.com/watch?v=0oMNpcluyAI">Video 447 (Jim Pickrell)</a></li>
<li><a href="https://www.youtube.com/watch?v=jZCXQr8XTdc">Video 441 (JimPickrell)</a></li>
<li><a href="https://www.youtube.com/watch?v=1LvQVdE1Ttg">Video 440 (Jim Pickrell)</a></li>
<li><a href="https://youtu.be/g6by6fIZ8kE">Video 5 (Gary Moyer)</a></li>
</ul>

<h2>Fish Types</h2>
<p>Schooling Fish:<p>
<p>Most of the fish seen in these videos are about 15 inches long and similar shapes.  More
    than one type of fish may school together.  Schools may be found in open water, but many 
    are found in coral caves and overhangs, where presumably they are safe from fishermen.
</p>    

<ul>
    <li>Yellowtail Snapper: All yellow, fins and tail 
    are bright yellow. The fish body is light colored with a medium width
    yellow horizontal stripe along the middle of the side.  This fish may be 
    recognized because it does not have black fins.<br>
    <a href="https://en.wikipedia.org/wiki/Yellowtail_snapper">Wikiepdia</a></li>

    <li>Grey Snapper: very similar to Yellow Sanpper, but the tail is grey.<br>
    <a href="https://en.wikipedia.org/wiki/Mangrove_snapper">Wikipedia</a></li>

    <li>Blue Striped Grunt: Generally yellow color with black tail and dorsal fins, yellow ventral
    and pectoral fins, many thin blue stripes running legthwise.<br>
    <a href="https://en.wikipedia.org/wiki/Bluestriped_grunt">Wikipedia</a>
    </li>

    <li>Bermuda Chub: About the same size as the Snapper, but does not have
    yellow fins.  Instead, it has many iridescent colorful horizontal 
    stripes (lines of spots) and a black tail.<br>
    <a href="https://en.wikipedia.org/wiki/Kyphosus_sectatrix">Wikipedia</a></li>

    <li>Porkfish: About the same size as the snapper.  This yellow fish can be recognized by the two 
    broad vertical black stripes on the side of the head.<br>
    <a href="https://en.wikipedia.org/wiki/Anisotremus_virginicus">Wikipedia</a></li>

    <li>French Angelfish: Just a few of these.  The angelfish about the
    same length as the Snapper and Grunt, but is almost as 
    tall as it is long.  Color is black, may or may not have vertical yellow stripes.<br>
    <a href="https://en.wikipedia.org/wiki/French_angelfish">Wikipedia</a>
    </li>
</ul>

<p>Predator fish:</p>
<p>Barracuda:</p>
<li>Nurse Shark</li>






<h2>References Links</h2>
<pre>
Some related articles:

Schooling and fish behavior:

General information on schooling behavior
https://en.m.wikipedia.org/wiki/Shoaling_and_schooling

Lens of Time: Secrets of Schooling | bioGraphic
https://www.youtube.com/watch?v=Y-5ffl5_7AI

Theory:

Reynolds article from Sigraph
https://www.red3d.com/cwr/papers/1987/boids.html

Paper from UCSB on simulation of schools
https://www.mrl.ucsb.edu/sites/default/files/mrl_docs/ret_attachments/research/KTaylor.pdf

Paper from Sigraph on schools
https://graphics.stanford.edu/courses/cs448-01-spring/papers/reynolds.pdf

More Reynolds
https://www.red3d.com/cwr/boids/

Boids as unit for schooling simulations
https://en.m.wikipedia.org/wiki/Boids

Flocking pattern code
https://processing.org/examples/flocking.html

O'reilly Book: Chapter on schools and AI
https://www.oreilly.com/library/view/ai-for-game/0596005555/ch04.html

Other information:

Maya animate school of fish
https://www.youtube.com/watch?v=R3g10grzcDQ

Fish game
http://www.ahahah.eu/trucs/fish/

Fish fins
https://en.wikipedia.org/wiki/Fish_fing

Draw a fish in Maya
https://www.youtube.com/watch?v=GW-oyEw3qmM

Paper on modelling schools of fish
https://www.jstor.org/stable/1543482?mag=how-do-fish-schools-work&seq=8#metadata_info_tab_contents

Cozumel fish
https://seafishes.wordpress.com/tag/cozumel/page/2/

