<h1>Fish Shoaling and Schooling Simulation</h1>
<p>Jim Pickrell</p>
<p>This is programming in progress.  Right now there are no graphics.  The simulation just
prints out the fish loations.</p>
<ul>
<li><a href="index2d.html">2D simulation</a></li>
<li><a href="index3d.html">3D simulation</a></li>
</ul>
<p>The next step is to look at the results and see if it makes sense.</p>

<h2>References</h2>
<pre>
Some related articles:

Schooling and fish behavior:

General information on schooling behavior
https://en.m.wikipedia.org/wiki/Shoaling_and_schooling

Lens of Time: Secrets of Schooling | bioGraphic
https://www.youtube.com/watch?v=Y-5ffl5_7AI

Theory:

Reynolds article from Sigraph
https://www.red3d.com/cwr/papers/1987/boids.html

Paper from UCSB on simulation of schools
https://www.mrl.ucsb.edu/sites/default/files/mrl_docs/ret_attachments/research/KTaylor.pdf

Paper from Sigraph on schools
https://graphics.stanford.edu/courses/cs448-01-spring/papers/reynolds.pdf

More Reynolds
https://www.red3d.com/cwr/boids/

Boids as unit for schooling simulations
https://en.m.wikipedia.org/wiki/Boids

Flocking pattern code
https://processing.org/examples/flocking.html

O'reilly Book: Chapter on schools and AI
https://www.oreilly.com/library/view/ai-for-game/0596005555/ch04.html

Other information:

Maya animate school of fish
https://www.youtube.com/watch?v=R3g10grzcDQ

Fish game
http://www.ahahah.eu/trucs/fish/

Fish fins
https://en.wikipedia.org/wiki/Fish_fing

Draw a fish in Maya
https://www.youtube.com/watch?v=GW-oyEw3qmM

Paper on modelling schools of fish
https://www.jstor.org/stable/1543482?mag=how-do-fish-schools-work&seq=8#metadata_info_tab_contents

Cozumel fish
https://seafishes.wordpress.com/tag/cozumel/page/2/

